@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: hsl(340, 55%, 26%);
  color: white;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Prevents stacking allows wrapping if needed */
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.footer-info {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-info a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s linear;
  cursor: pointer;
}

.footer-info a:hover {
  color: hsl(44, 100%, 46%);
}

.footer-logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-logo img {
  width: 60px;
}

.footer-logo p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 6px;
}

.footer-socials {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-socials img {
  width: 32px;
  height: 32px;
}

.footer-copyright {
  font-size: 15px;
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-style: italic;
  text-align: right;
}

/* Popup Overlays */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  border-radius: 10px;
  padding: 25px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

.popup-content h2 {
  margin-top: 0;
  color: hsl(340, 55%, 26%);
  font-size: 24px;
}

.popup-content p {
  color: #182123;
  font-size: 16px;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: hsl(340, 85%, 29%);
  transition: color 0.3s linear;
}

.close-popup:hover {
  color: hsl(44, 100%, 46%);
}
